import /init.recovery.microtrust.rc

on init
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
    setprop persist.sys.firstlaunch false
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    export PATH /sbin:/system/bin:/vendor/bin:/vendor/bin/hw

on fs
    install_keyring
    setprop crypto.ready 1
    write /sys/class/power_supply/usb/otg_switch 1

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service init-device-sh /system/bin/init.device.sh
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    start init-device-sh
    start vendor.vibrator-1-0 
    
service vendor.vibrator-1-0 system/bin/android.hardware.vibrator@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
  
on property:hwservicemanager.ready=true
    start mobicore
    start keymaster-4-1
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
#    
on property:enable.fbe.service=0
    stop mobicore
    stop keymaster-4-1
    stop gatekeeperd
    stop vendor.gatekeeper-1-0    

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd
